.tabs__control {
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 13px 21px;
  max-width: 285px;
  margin-left: auto;
  margin-bottom: 12px;
}

.tabs__btn {
  font-weight: 700;
  line-height: 1;
  background-color: transparent;
  border-width: 0;
  color: #fff;
  border-bottom: 2px solid transparent;
  transition: border-color 0.8s ease-in-out;
}

.tabs__btn_active {
  border-color: #fff;
}
.tabs__content {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

@media (max-width: 850px) {
    .tabs__content {
        flex-wrap: wrap;
    }
}

@media (max-width: 480px) {
    .tabs__control {
        max-width: 220px;
        padding: 10px 30px;
        margin-bottom: 10px;
    }
}